{% extends "base.html"%}

{%block content%}
<h1>Discover new recipes</h1>
{%for recipe in recipes%}
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <!--Card with recipe-->
      <div class="card shadow-sm rounded-4 border-0 recipe-card">
        {% if recipe.photo_filename%}
        <img
          src="{{ recipe.photo_filename }}"
          class="card-img-top rounded-top-4 food-image-card"
          alt="Recipe image"
        />
        {% else %}
        <img
          src="{{ url_for('static', filename='uploads/' + 'no_pic.png') }}"
          class="card-img-top rounded-top-4 food-image-card"
          alt="Recipe image"
        />
        {% endif%}
        <div class="card-body">
          <h5 class="card-title fw-bold card-title">
            {{recipe.title.title()}}
          </h5>
          <p class="card-text card-content">
            {{ recipe.description.capitalize() }}
          </p>

          <!-- Tags for each recipe card -->
          {% if recipe.tags %}
          <div class="mb-2">
            {% for tag in recipe.tags %}
            <span class="badge bg-secondary me-1">{{ tag.name }}</span>
            {% endfor %}
          </div>
          {% endif %}

          <div class="d-flex justify-content-between">
            <!--Link to see the recipe-->
            <a
              href="#"
              class="btn w-100"
              >See recipe</a
            >

            <!--Edit recipe button-->
            <form>
              <button type="submit" class="btn edit-recipe-btn" title="Edit">
                <i class="bi bi-pencil"></i>
              </button>
            </form>

            <!--Delete recipe button-->
            <button
              type="submit"
              class="btn delete-recipe-btn"
              title="Delete"
            >
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
    {% endblock%}