{% extends "base.html"%} 
{%block head%}
<!-- Bootstrap JS Bundle (with Popper) used for the carrousel in discover-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
{%block content%}
<h1>Discover new recipes</h1>

<!--Search form-->
<div class="d-flex justify-content-center m-5">
  <form action="{{url_for('external_api.search')}}" class="d-flex w-50">
    <input
      type="text"
      name="q"
      class="form-control search-bar"
      placeholder="Find your new recipe"
    />
    <input
      class="btn btn-primary ms-2"
      type="submit"
      value="Search"
    />
  </form>
</div>


<!--Boostrap Carrousel of random recipes-->
<div
  id="recipeCarousel"
  class="carousel slide"
  data-bs-ride="carousel"
  data-bs-interval="1500"
>
  <!-- Down Indicators -->
  <div class="carousel-indicators">
    {% for recipe in recipes %}
    <button
      type="button"
      data-bs-target="#recipeCarousel"
      data-bs-slide-to="{{ loop.index0 }}"
      class="down-indicator {% if loop.first %}active{% endif %}"
      aria-current="{% if loop.first %}true{% endif %}"
      aria-label="Slide {{ loop.index }}"
    ></button>
    {% endfor %}
  </div>

  <!-- Content Carrousel -->
  <div class="carousel-inner">
    {% for recipe in recipes %}
    <div class="carousel-item {% if loop.first %}active{% endif %}">
      <div class="d-flex justify-content-center py-4">
        <!-- Recipe Card -->
        {% include "/recipes/partials/recipe_card.html" %}
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Carrusel controls -->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#recipeCarousel"
    data-bs-slide="prev"
  >
    <span
      class="carousel-control-prev-icon custom-carousel-icon"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#recipeCarousel"
    data-bs-slide="next"
  >
    <span
      class="carousel-control-next-icon custom-carousel-icon"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<footer class="text-center mt-5 mb-3 text-muted small">
  This data is powered by
  <a href="https://www.themealdb.com/" target="_blank" rel="noopener noreferrer"
    >TheMealDB</a
  >.
</footer>
{% endblock%}
