/*Style to make side menu appear in desktope*/
@media (min-width: 768px) {
  #offcanvasMenu {
    position: static !important;
    transform: none !important;
    visibility: visible !important;
    border-right: 1px solid #ddd;
  }
}

/* Make de height to bee the same in the card */
.food-image-card{
  height: 12rem;
}

.food-image{
  height: 15rem;
  border-radius: 10px;
}